{% extends 'core/base.html' %}
{% block content %}
<h1>Profilo di {{ user.username }}</h1>

<h2>I miei Inediti</h2>
<ul>
{% for book in inediti %}
    <li>
        {{ book.titolo }} 
        (<a href="{% url 'scheda_libro' 'inedito' book.id %}">Vedi</a>)
        (<a href="{% url 'delete_book' 'inedito' book.id %}">Elimina</a>)
    </li>
{% empty %}
    <li>Nessun inedito.</li>
{% endfor %}
</ul>

<h2>I miei Scaduti</h2>
<ul>
{% for book in scaduti %}
    <li>
        {{ book.titolo }} 
        (<a href="{% url 'scheda_libro' 'scaduto' book.id %}">Vedi</a>)
        (<a href="{% url 'delete_book' 'scaduto' book.id %}">Elimina</a>)
    </li>
{% empty %}
    <li>Nessun scaduto.</li>
{% endfor %}
</ul>

{% endblock %}
