{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Profilo Utente: {{ user.username }}</h1>
    <p>Nome: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>

    <hr>
    <h2>I tuoi libri Inediti</h2>
    <ul>
        {% for book in user.inedito_set.all %}
            <li><a href="{% url 'scheda_libro' 'inedito' book.id %}">{{ book.titolo }}</a></li>
        {% empty %}
            <li>Nessun inedito pubblicato.</li>
        {% endfor %}
    </ul>

    <h2>I tuoi libri Scaduti</h2>
    <ul>
        {% for book in user.scaduto_set.all %}
            <li><a href="{% url 'scheda_libro' 'scaduto' book.id %}">{{ book.titolo }}</a></li>
        {% empty %}
            <li>Nessun scaduto pubblicato.</li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{% url 'index' %}">Torna alla Home</a>
</div>
{% endblock %}
